<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <!-- NavBar -->
    {% include 'partials/navbar.html' %}
    <!-- Main Content -->
    {% if user %}
        {% include 'partials/add-btn.html' %}
    {% endif %}
    <main>
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </main>
    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Font Awesome -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();

            $('select').formSelect();
        });

        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea, toolbar, basicstyles, link'
        });
    </script>

</body>

</html>