<%- include ('../partials/header.ejs') %>

<h1>About Page</h1>
<p>Version 1.0.0</p>
<p>Here you can post your stories your thoughts regarding anything. You can create an account by login in google and post stories</p>

<%- include ('../partials/footer.ejs') %>